DOMAIN=servicerca.207.180.192.171.nip.io
DEMO_DATA_ENABLED=true
POSTGRES_DB=servicerca
POSTGRES_USER=servicerca
POSTGRES_PASSWORD=replace-with-a-random-password
JWT_SECRET=replace-with-at-least-32-random-characters
ENCRYPTION_KEY=replace-with-exactly-32-characters
S3_ACCESS_KEY=servicerca
S3_SECRET_KEY=replace-with-a-random-minio-password
S3_BUCKET=servicerca
S3_REGION=us-east-1
GOOGLE_CLIENT_ID=disabled
GOOGLE_CLIENT_SECRET=disabled
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
